.row
  .small-12.large-6.columns
    = form_tag parser_path, class: 'markdown_form' , method: :get  do
      = text_area_tag :title, nil , id: 'markdown-input'
      = submit_tag 'Parse', class: 'button'
  .small-12.large-6.columns#html-preview
    .markdown-preview
