.row
  .large-6.columns
    = form_tag parser_path, class: 'markdown_form' , method: :get  do
      %label Markdown
      = text_area_tag :title, nil , id: 'markdown-input'
      = submit_tag 'Parse', class: 'button'
  .large-6.columns
    %label Preview
    #markdown-preview
